.container {
  grid-area: 2 / 1 / 4 / 4;
  padding-top: 50px;
  padding: 1.5rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-primary);
}

.image {
  text-align: center;
  margin: 4vh 0;
}

.image > img {
  width: 80vw;
  border-radius: 10px;
}

.btn_container {
  background-color: var(--color-primary);
  width: 70px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn {
  text-decoration: none;
  display: inline-block;
  margin: 0 1rem;
}

.btn__text {
  color: var(--color-purple);
  font-weight: bold;
  font-size: 2rem;
}

.btn__code {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 2rem;
}

.skills {
  margin: 1.6rem .8rem;
}

.skills_items {
  list-style: none;
  display: flex;
  padding: 0.5rem;
}

.description {
  padding: 1.5rem;
  background-color: var(--color-bg-text);
  border-radius: 10px;
}

.description > p {
  font-size: 1.8rem;
  color: var(--color-primary);
}

@media (min-width: 800px) {
  .container {
    grid-area: 2 / 2 / 3 / 3;
    padding: 50px 0 0 0;
  }

  .title {
    text-align: center;
    font-size: 5rem;
  }

  .image {
    margin: 2.5vh 0;
  }

  .image > img {
    width: 40vw;
  }

  .btn_container {
    width: 80px;
  }

  .btn__text:hover {
    text-decoration: underline;
  }

  .btn__code:hover {
    text-decoration: underline;
  }

  .skills {
    margin: 1.5rem 2.5rem;
  }
}
