.item {
  background-color: var(--color-secondary);
  padding: 5px;
  border-radius: 5px;
}

.item > span {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
}

@media (min-width: 800px) {
  .item > span {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
