.container {
  width: 80vw;
  margin: auto;
}

.input {
  border-bottom: 3px solid var(--color-bg-text);
  margin: 1rem 0;
  font-size: 1.8rem;
  width: 100%;
}

.icon {
  color: var(--color-purple);
}

.email {
  padding: 2rem 2rem 1rem 2rem;
  border: none;
  width: 90%;
  font-weight: 900;
  font-size: 1.8rem;
  background-color: var(--color-bg);
  color: var(--color-primary);
}

.email::placeholder {
  color: var(--color-purple);
}

.email:focus-visible{
  outline-offset: 0;
  outline: none;
}

.message {
  width: 100%;
  padding: 0.8rem;
  margin: 2rem 0;
  font-size: 1.8rem;
  height: 20rem;
  border-radius: 0.3rem;
  background-color: var(--color-bg-text);
  color: var(--color-primary);
  resize: none;
}

.message::placeholder {
  color: var(--color-purple);
}

.message:focus-visible{
  outline-offset: 0;
  outline: none;
}
.message:focus {
  border-style: dashed;
  border-color: var(--color-purple);
  border-width: 3px;
}

.submit {
  border-radius: 999px;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.4rem 2rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-purple);
  color: var(--color-primary);
}

/* Errors */

.inputError {
  border-bottom: 3px solid var(--color-bg-error);
  margin: 1rem 0;
  font-size: 1.8rem;
  width: 100%;
}

.iconError {
  color: var(--color-error);
}

.emailError {
  padding: 2rem 2rem 1rem 2rem;
  border: none;
  width: 90%;
  font-weight: 900;
  font-size: 1.8rem;
  background-color: var(--color-bg);
  color: var(--color-primary);
}

.emailError::placeholder {
  color: var(--color-error);
}

.emailError:focus-visible{
  outline-offset: 0;
  outline: none;
}

.errors {
  margin-left:2rem;
  border-top: 5px solid var(--color-bg-text);
  background-color: var(--color-error);
  padding: 1rem;
  display: inline-block;
}

.errors > span {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-bg-error);
}
/* desktop */

@media (min-width: 768px) {
  .container {
    width: 50rem;
  }

  .email {
    width: 95%;
  }

  .emailError {
    width: 95%;
  }
}