/* mobile */

.container {
  grid-area: 2 / 1 / 3 / 4;
  width: 100%;
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12rem 3rem;
  padding-bottom: 0;
}

.container__home {
  font-size: 2.8rem;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 5rem;
}

.title {
  background-color: #efd81d;
  padding: 10px;
  margin: 10px 5px;
  display: inline-block;
  border-radius: 10px;
}

.first__j {
  color: #000;
}

.first__name {
  color: #000;
}

.second__s {
  color: #fff;
}

.second__name {
  color: #fff;
}

.description {
  display: inline-block;
  font-size: 2rem;
  color: var(--color-secondary);
}

/* desktop */

@media (min-width: 800px) {
  .container {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container__home {
    font-size: 3.4rem;
    color: var(--color-primary);
    margin-bottom: 3rem;
  }

  .title {
    background-color: #efd81d;
    padding: 10px;
    margin: 10px 5px;
    display: inline-block;
    border-radius: 10px;
  }

  .first__j {
    color: #000;
  }

  .first__name {
    display: none;
    color: #000;
  }

  .second__s {
    color: #fff;
  }

  .second__name {
    display: none;
    color: #fff;
  }

  strong:hover > .first__name {
    display: inline;
    animation-name: spaceLetterHover;
    animation-duration: 0.8s;
  }

  strong:hover > .second__name {
    display: inline;
    animation-name: spaceLetterHover;
    animation-duration: 1s;
  }

  @keyframes spaceLetterHover {
    0% {
      letter-spacing: -2rem;
    }
    65% {
      letter-spacing: 2rem;
    }
    100% {
      letter-spacing: 0;
    }
  }

  .description {
    display: inline-block;
    margin-left: 150px;
    font-size: 2.4rem;
    color: var(--color-secondary);
    padding-bottom: 200px;
  }
}
