.container {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 5rem;
  color: var(--color-primary);
}

.description {
  color: var(--color-secondary);
  font-size: 2rem;
}
