:root {
  --color-primary: #e6fffb;
  --color-secondary: #73807d;
  --color-bg: #454d4b;
  --color-purple: #8F9AB3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

.Skills,
.Contact {
  grid-area: 2 / 2 / 3 / 3;
}
